html,body
{
	overflow-y: scroll;
	height: 100%;
}
nav
{
	background: #21242e;
}

*
{
	box-sizing: border-box;
}

.commandBox
{
	height: 80px;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.logo
{
	height: 80px;
	display: block;
	margin: auto;
}

.command
{
	border: solid 2px #E0E0E0 !important;
}

.cards
{
	position: absolute;
	width: 100%;
	top: 90%;
	height: 100%;
	
	
}

.notificationContainer
{
	width: auto;
}